//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-12.text-center
			h5.footer-heading About
			p FitPath provides you with a solid plan to change your wellness.  
			ul.list-inline
				li: a(href='/about') More about FitPath
				li: a(href='mailto:me@thomlamb.com') Contact us

		.col-sm-8
			// .row
			// 	.col-xs-4
			// 		h5.footer-heading Members
			// 		ul
			// 			li: a(href='/members') Members
			// 			li: a(href='/mentoring') Mentoring
			// 			li: a(href='/members/mentors') Mentors
			// 			if !user
			// 				li: a(href='/join').js-auth-trigger Become a Member
			// 	.col-xs-4
			// 		h5.footer-heading Resources
			// 		ul
			// 			li: a(href='/organisations') Organisations
			// 			li: a(href='/links') Links
			// 			li: a(href='/blog') Blog
			// 			li: a(href='/showbag') Showbag
			// 	.col-xs-4
			// 		h5.footer-heading Sponsors
			// 		ul: each sponsor in sponsors
			// 			li: a(href='/organisations#' + sponsor.id)= sponsor.name
	.row.footer-copyright
		p Copyright &copy; 2016 FitPath. Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
		
