<body hoe-navigation-type="vertical" hoe-nav-placement="left" >
    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <header id="hoe-header" hoe-lpanel-effect="shrink">
            <div class="hoe-left-header"> 
            </div> 
            <div class="hoe-right-header" hoe-position-type="relative" >  
            </div>
        </header>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
            <aside id="hoe-left-panel" hoe-position-type="absolute"> 
                <ul class="nav panel-list">
                    <li class="nav-level">Navigation</li>
                    <li class="active">
                        <a href="javascript:void(0)">
                            <i class="fa fa-tachometer"></i>
                            <span class="menu-text">Dashboard</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Graphs</span>
                            <span class="label sul">New</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="hoe-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-files-o"></i>
                            <span class="menu-text">Other Pages</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="hoe-sub-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Blank Page</span>
                                    <span class="selected"></span>
                                </a>
                            </li> 
                        </ul>
                    </li> 
                </ul>
            </aside>
            <section id="main-content"> 
				
            </section> 
        </div>
    </div>
</body>
            