extends ../../layouts/default

include ../../mixins/post

block intro
	.page-intro: .container
		h1.page-title=data.category ? data.category.name : 'Blog'
		p.lead
			| This is the blog of FitPath, contributed by our members and guest authors.&nbsp;
			a(href='/join').js-auth-trigger Join now
			| &nbsp;to contribute.

block content
	.page-content: .container
		.row
			div(class= data.categories.length || !data.posts.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if filters.category && !data.category
					h3 Invalid Category.
				else
					if data.posts.length
						.post-cards.row(itemscope itemtype="http://schema.org/Blog")
							each post in data.posts
								+post(post)
					else
						if data.category
							h3.text-muted No posts in the category #{data.category.name}.
						else
							h3.text-muted There are no posts yet.
			
			if data.categories.length
				.col-md-2
					if data.categories.length
						h5.text-muted Filter by tag
						ul.list-unstyled.tags-list
							li: a(href='/blog', class=!data.categories ? 'active' : false) All
							each tag in data.categories
								li: a(href='/blog/' + tag.key, class=data.category && data.category.id == tag.id ? 'active' : false).list-group-item= tag.name
