extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement

//- INTRO
block intro
	article#hero.hero-meetup.hero-meetup--next
		section.hero-intro.hero-intro--hasmask
			.hero-background
			.hero-intro-content 
				p
				
				
//- BODY
block content
	.page-content

			article.section.section--featured.home-about: .container
				h1 How It Works
				.col-sm-8.col-sm-offset-2
					p When it comes to eating right or exercising, the real challenge is adopting and sustaining habits.  This is why our first step is all about habits, not complicated meal plans or training routines. We also offer simple, short and effective body weight-based home workouts which fit right into your routine. 
	
			article.section.section--featured.home-about.panel-blue: .container
				h1 The FitPath Promise
				.col-sm-3
					h4 FLEXIBILITY
					p We know you're busy. Most FitPath workouts are less than 30 minutes, so they fit easily into your busy lifestyle - anywhere you are!
				.col-sm-3
					h4 ACCOUNTABILITY
					p FitPath doesn't just track your progress. You'll also get real feedback from a coach who is dedicated to helping you live better, and who will help you if you slip up.
				.col-sm-3
					h4 EXPERTISE...IBILITY
					p VIP coaching that everyone can afford, at 1/5 the cost of a traditional personal trainer.
				.col-sm-3
					h4 AFFORDABILITY
					p Our coaches have decades of experience in person and online. They can help you overcome injuries, improve sleep and energy, and just help you feel better. 
	
			//- About
			article.section.section--featured.home-about: .container
				h2 About Us
				.row: .col-sm-8.col-sm-offset-2
					p FitPath.me is a company focused on helping people take the first step to a healthier path. We are extremely excited to help people get healthier, and learn better habits with the help of great coaches and innovative technology.
				br
				h2 A Note From Our CEO
				.row: .col-sm-8.col-sm-offset-2
					p Hi, I'm Thom Lamb, Founder of FitPath.me. I have been a coach both online and in person for 12 years. FitPath.me is the realization of a dream I have to build better tech to help coaches help people. I'm so excited to be starting this Alpha Team and I look forward to learning from people how to solve their problems, and a huge thank you to our amazing FitPath.me team as well!
					
				if !user
					.row: .col-sm-4.col-sm-offset-4
						a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
							span.text-caps Start my FitPath now
				p.mt-1
					a(href='/about') Learn more about FitPath
					|  &nbsp;&middot;&nbsp; 
					a(href='/members') Find your friends on FitPath
				p.mt-1: a(href="https://twitter.com/FitPath", class="twitter-follow-button", data-show-count="true", data-size="large")
//- JS
block js

	if meetup
		script.
			SydJS.currentMeetupId = !{JSON.stringify(meetup.id)};
	if user
		script.
			SydJS.user = !{JSON.stringify(user)};

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
