extends ../../layouts/default
include ../../mixins/meetup

block intro
	.container-sm
		.page-intro
			h1.page-title Meetups
			p.lead We usually meet up the 4th Wednesday of every month. We hope to see you at 
				if !user
					a(href='/join').js-auth-trigger our&nbsp;next&nbsp;meetup
				else
					| our next meetup
				| . Stay in the loop - 
				a(href='http://twitter.com/sydjs', target='_blank') follow us on twitter

		if upcomingMeetup
			+meetup(upcomingMeetup)
block content
	.page-content: .container
		.timeline
			.timeline-path
			.timeline-item--offset
			each meetup, i in pastMeetups
				.timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
					.timeline-item-node
					a(href=meetup.url).timeline-item-inner
						h6.text-caps.text-danger= meetup._.startDate.format('YYYY - MMMM ')
						h4= meetup.name
						!=utils.cropString( utils.htmlToText(meetup.description), 240, '...', true )
						//- !=utils.htmlToText(meetup.description)
		
		if !upcomingMeetup && !pastMeetups.length
			h3.text-muted There are no meetups yet.

//- block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
